/* Video style */
.video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  opacity: 0.1;
}

/* JetBrains Font */ 
@font-face {
  font-family: 'JetBrainsMono';
  src:url('font/jetbrains/webfonts/JetBrainsMono-Bold.woff2') format('woff2'),
      url('font/jetbrains/ttf/JetBrainsMono-Bold.ttf') format('ttf');
      
  font-weight: normal;
  font-style: normal;
}


.header{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,52,121,1) 41%, rgba(1,73,87,1) 100%);
  height: 550px;
}

.content{
  position: absolute;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,52,121,1) 41%, rgba(1,73,87,1) 100%);

}



  /* Menu */
 
#menu {

	color: #FFF;
	height: 45px;
	border-radius: 10px;
  
}


#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
  text-align: center;
  
}
#menu ul {
	width: 100%;  
}

#menu li {
  display: inline-block;
	float: none;
}
#menu a {
  position:relative;
	line-height: 45px;
	padding: 0 16px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 18px;
  width: 100%;
  opacity: 0.8;
}

#menu a:hover{
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}


a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0px;
 
  width:50%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
.menu-item li a{
  font-family: 'Space Grotesk', sans-serif;
}

#cv{
  
  background: rgb(66,64,255);
background: linear-gradient(150deg, rgba(66,64,255,1) 47%, rgba(137,31,223,1) 99%);
  border-radius: 1000px;
  transition: 0.3s;
}


.name{
  color: white;
    /*font-family: 'Source Code Pro', monospace;*/
    font-family: 'JetBrainsMono'; 
    font-size: 30px;
    margin-top: 30px;
    margin-left: 40px;
    text-align: left;
}



.profesion{
  margin: 0 auto;
  font-size: 40px;
  font-family: 'Space Grotesk', sans-serif;
  margin-top: 60px;
  margin-left: 40px;
  padding-top: 20px;
  text-align: left;
  
  background: #C5D4E3;
  background: linear-gradient(to right, #C5D4E3 0%, #FF40D2 50%, #991D63 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description{
  color: #FFF;
  margin: 0 auto;
  font-size: 27px;
  margin-top: 30px;
  margin-left: 40px;
  font-family: 'Space Grotesk', sans-serif;
}


nav .stop {
  float: right;
  position: fixed;  
  bottom: 0px;
  right: 0px;
  font-family: 'Space Grotesk', sans-serif;
  margin-right: 10px;
  font-size: 13px;
}

.Me{
  padding-top: 30px;
}


/* Skills section */
body .content .skills{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  

}

body .content .skills img{
  width: 35px;
  height: 35px;
  padding-right: 15px;
  flex: 0 1 auto;
  align-self: auto;
  margin: 0;
  padding: 0;
  
}

.title h2{
  color: #FFF;
  font-family: 'JetBrainsMono';
  text-align: center;
  flex: 0 1 auto;
  align-self: auto;
  margin: 5px 15px;
  padding: 0;
  font-size: 30px;
  background: whitesmoke;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title h3 {
  color: #FFF;
  font-family: 'JetBrainsMono';
  text-align: center;
  flex: 0 1 auto;
  align-self: auto;
  margin: 5px 15px;
  padding: 0;
}

.skills{
  border: #FFF solid 1px; 
  margin: 40px;
  padding: 30px;
}

.techSkills{
list-style: none;
width: 100%;
margin-left:  120px;
padding: 0 ;
margin: 0 auto;
}



.techSkillsContainer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  
}

.techSkillsContainer li {
  margin: 0 13px;
  align-self: center;
  
}


.MeContainer{
  color: #FFF;
  font-family: 'Space Grotesk', sans-serif;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
 
}

.MeContainer .text p {
  font-size: 20px;
  font-family: 'Space Grotesk', sans-serif;
  line-height: 28px;
}

.box{
  font-size: 16px;
  width: 100%;
  line-height: 25px;
  border: #FFF solid 1px; 
  margin: 48px;
  padding: 30px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;

}

.boxContainer{
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content:flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.boxContainer .image{
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.boxContainer .text{
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  margin-left: 10px;
}


.titleContact{
  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.titleContact h2{
  
 color: #FFF;
  font-family: 'JetBrainsMono';
  text-align: center;
  flex: 0 1 auto;
  align-self: auto;
  margin: 5px 15px;
  padding: 0;
  font-size: 30px;
  background: whitesmoke;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form{


  margin: 50px 300px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  text-decoration:none;
	text-shadow:0px 1px 0px;

  

}

.form input {
  border-radius: 5px;
-moz-border-radius: 5px;
font-family: 'JetBrainsMono';
color: #5a5d5f;
padding: 8px;
margin-top: 10px;
}

.form textarea {
  border-radius: 6px;
-moz-border-radius: 6px;
font-family: 'JetBrainsMono';
color: #5a5d5f;
}

.form #sendBtn{
  float: right;
  box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
  background-color:#c123de;
	border-radius:6px;
	border:1px solid #a511c0;
  display:inline-block;
	cursor:pointer;
  color:#ffffff;
  font-weight:bold;
	padding:10px 30px;
margin: 20px 0;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}

.form #name{
  width: 97.5%;
}
.form #email{
  width: 97.5%;
}

.form textarea {
  width: 100%;
}