/* Video style */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  /* Menu */
 
#menu {

	color: #FFF;
	height: 45px;
	border-radius: 10px;
  
}


#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
  text-align: center;
	  
}
#menu ul {
	width: 100%;  
}

#menu li {
  display: inline-block;
	float: none;
}
#menu a {
  position:relative;
	line-height: 45px;
	padding: 0 16px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 17px;
  width: 100%;
  opacity: 0.8;
}

#menu a:hover{
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}


a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0px;
 
  width:50%;
  height: 0.1em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
.menu-item li a{
  font-family: 'Didact Gothic', sans-serif;
}


#animation-name{
    font-family: 'Source Code Pro', monospace;
    font-size: 56px;
    margin-top: 60px;
    padding-top: 20px;
    text-align: center;
}



h1{
    width: 50%;
    position: relative;
    font-size: 60px;
    color: #FFF;
    overflow: hidden;
    border-right: .15em solid orangered;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    animation: typing 4.1s steps(20,end), 
    blink-caret .5s step-end infinite;

}

@keyframes typing {
  from {width: 0;}
  to {width: 50%;}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orangered }
}